[mysqld]
bind-address = 0.0.0.0
skip-host-cache
skip-name-resolve

# Prevents permission issues in Docker
user = mysql

# Ensures the socket is created correctly
socket = /run/mysqld/mysqld.sock

# Data directory
datadir = /var/lib/mysql

# Prevents AIO failures in containers
innodb_use_native_aio = 0
